<div class="section-home"><br>
  <div class="container">
    <h3 class="page-header">Please complete the form to get started</h3>
    <div class="col-md-8 col-md-offset-2">
      <%= render 'form' %>
      <hr>
      <%= link_to 'Back', stores_path %><br><br>
    </div>
  </div>

</div>
