<br><div class="section-home">
  <div class="container-fluid">
    <div class="col-md-8 col-md-offset-2">
      <h3 class="page-header">About claeus</h3>
      <p>
        claeus was founded in June 2016 in an apartment in Accra, Ghana to fill a need for an online community where entrepreneurs, sellers and buyers  sell their products and supplies.
         In the spirit of entrepreneurship, founder Nana Adjei Manu  designed the first site and wrote the code to get claeus started.
      </p>
      <p>
        claeus is a marketplace where sellers and buyers connect, both online and offline, to make, sell and buy unique goods.
        The heart and soul of claeus is our global community: the  entrepreneurs who use claeus to sell what they make or curate, the shoppers looking for things they can’t find anywhere else, the manufacturers who partner with  sellers to help them grow, and employees who maintain and nurture the marketplace.
      </p>
      <p>
        We remove the technical expertise needed to start a profitable online business, making the joys of entrepreneurship accessible for all.
        claeus is built by entrepreneurs for entrepreneurs. We understand what it means to be too busy for inconvenience.
      </p>
      <p>
        Before claeus, creating an online business could take hundreds of hours to research & enroll in the various services necessary to operate a scalable ecommerce storefront.
      </p>
      <p>
        We provide a marketplace with one-click publishing to all major buyer channels (Google Shopping, TheFind, Nextag, Pricegrabber, etc). Until you make a sale, we pay all advertising costs on your behalf.
         We only make money when you make money.
        No listing fees, no monthly store fees, no other sneaky fees.
      </p>
      <p>
        claeus spreads the joy of entrepreneurship and of course we handle all the busywork.
      </p>
    </div>
  </div>
</div>
