<div class="section-home clearfix" id="main-banner">
    <div class="home-banner">
      <div class="center"><br>
        <br>
        <h1 class="center">Buy directly from Ghana's emerging brands.</h1><br>

        <%= form_tag  method: :get do |f| %>
          <div class="form-group has-feedback">
            <%= text_field_tag :search, nil, placeholder: "What are you shopping for today?", class: " form-control" %>
            <i class="fa fa-search fa-2x form-control-feedback"></i>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="section" id="overlap-top">
      <h3 class="section-header" style="text-align: center;">Shop by Department</h3>
      <div class="row">
        <% @categories.each do |category| %>
          <div class="col-md-2">
            <div class="thumbnail">
              <%= link_to image_tag(category.image(:medium)), category %>
            </div>
            <div class="panel">
              <%= link_to category.name, category %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="">
    <h5>maimai is the home to emerging brands and authentic goods. It's a place where you can launch a custom store in minutes.
</h5>
  </div>
  <div class="">
    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-6">
        <div class="section">
          <h3 class="section-header" style="text-align: center;">Stall of the day</h3>
        </div>
      </div>
      <div class="col-md-3">

      </div>
    </div>

  </div>
  <div class="container-fluid">
    <div class="section">
      <h3 class="section-header" style="text-align: center;">Shops worth visiting</h3>
    </div>  </div>
