<div class="section-home" id="sell-banner">
  <div class="banner-elements">
    <div class="center">
      <h3>Every great business starts with an idea.</h3>
      <p>
        maimai gives you the platform to start your business online.
      </p><br>
      <button type="button" name="button" class="btn btn-success btn-lg">Start Selling Now </button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <h4 class="page-header" style="text-align: center;">What maimai offers?</h4>
    <div class="section-home">
      <div class="make-center">
        <h3>Join the fastest growing online marketplace with tons of customers for emerging brands and small businesses.</h3>
        <p>Our marketplace works just like a social network, bringing buyers and sellers together.</p>
      </div>
          <div class="row">
            <h3 class="page-header" style="text-align: center;">Features</h3>
            <div class="col-md-4">
              <h4 class="page-header">No monthly fees</h3>
                <p class="center">
                  It costs nothing to start your shop on maimai. Listings are active till you delete them.
                  </p>
            </div>
            <div class="col-md-4">
              <h4 class="page-header">No setup fees</h3>
                <p class="center">
                  Setup your shop with 10 free items. Every other set of 10 goes for a small 5ghs fee.
                  </p>
            </div>
            <div class="col-md-4">
              <h4 class="page-header">Easy to start</h3>
                <p class="center">
                  Start your shop by clicking on any of the "Start a shop buttons" to begin.
                  </p>
            </div>
            <div class="col-md-4">
              <h4 class="page-header">Easy to manage</h3>
                <p class="center">
                  Spend less time setting up your shop and more time delivering great and quality products
                  </p>
            </div>
            <div class="col-md-4">
              <h4 class="page-header">Support</h3>
                <p class="center">
                  We support our seller thrive with help and education through email and calls
                  </p>
            </div>
            <div class="col-md-4">
              <h4 class="page-header">Newsletter</h3>
                <p class="center">
                  Subscribe to our weekly newsletter that provides insights to improve your shop and get customers.
                  </p>
            </div>
            <div class="col-md-10 col-md-offset-1">
              <h3 class="page-header">Sell your products</h3>
              <ul>
                <li>Start your store for free.</li>
                <li>Theres no limit on what you can sell, only limit is your imagination.</li>
                <li>Grow your business your own way.</li>
                <li>Reach your customers both online and offline</li>
              </ul>
            </div>
          </div>
    </div>
</div>
