$white: #FFFFFF;
$dark: #7c7c7c;
$light: #f4f4f4;
$highlight: #8bc6db;
$border: #E9E9E9;
$claeusRed: #f61616;

@mixin bg_img($url, $size, $position) {
  background-image: url($url);
  background-size: $size;
  background-position: $position;

}

/*************************
      MAIN STYLES
**************************/

* {
  font-family: raleway;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  box-sizing: border-box;
  a {
    color: grey;
  }
}

body {
  background-color: #F3F3F3 !important;
}

.container {
  width: 80%;
  margin: 0 auto;
}


.clearfix:before{}
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

/*************************
      NAVIGATION
**************************/

.navbar-form {
  .form-control {
    width: 400px;
    height: 3rem;
  }
}

nav {
  border-bottom: 1px solid $dark;
	border-radius: 0 !important;
	background-color: $white !important;
  // margin-bottom: 0 !important;
  width: 100% !important;
  padding: 0 auto !important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
	.navbar-brand {
    font-weight: 600;
  	font-size: 3rem;
  	font-family: monospace;

    color: $claeusRed !important;
		a {
			color: #BD1E23;
			font-weight: bold;
			&:hover {
				text-decoration: none;
			}
		}
	}
  .navbar-right {
    li {
      display: inline-block !important;
      list-style: none;
      line-height: 35px;
    }
  }
  .navbar-default,
  .navbar {
    width: 100% !important;
    border-radius: 0 !important;
    border-color: 0 !important;
    border: 0 !important;
  }

}

.navbar {
  margin-bottom: 0 !important;
}

.top-nav {
  background-color: $claeusRed;
  height: 3rem;
  ul {
    margin-bottom: 0;
    li {
      list-style: none;
      display: inline-block;
      padding: .6rem;
      a{
        padding-right: 1rem;
        color: $white;
        font-size: 1.4rem;
        font-weight: bold;
      }
    }

  }
}


.panel {
  padding-left: 1.5rem;
}
#main-banner {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('back.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.form-control {
  border-radius: 0 !important;
  height: 4rem;
}

/*************************
      IMAGES
**************************/

.thumbnail {
  min-height: 100px;
  width: 100%;
  padding: 0;
  margin-bottom: 0 !important;
  img {
    width: 100%;
    height: 75%;
  }
  .caption {
    border-top: 1px solid $dark;
    h3 {
      padding-top: 0;
      margin-top: 0;
    }
  }

}

.round-image-50 {

  img{
    width: 100%;
    background-color: #fff;
    border: 1px solid $light;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    overflow: hidden;
    text-align: center;
  }
}

.round-image-100{

  img{
    width: 100%;
    background-color: #fff;
    border: 1px solid $light;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    overflow: hidden;
    text-align: center;
  }
}


/*************************
      ITEMS/LISTINGS
**************************/
.item-desc {
  min-height: 10rem;
}

i{
  line-height: 2rem;
  padding-right: .5rem;
  color: inherit;
}
.label {
  padding: .5rem !important;
}

#thin-line {
  padding: 2rem;
  border-left: 1px solid $claeusRed;
  margin-bottom: 2rem;
}

.sign-in {
  max-width: 50%;
  margin: 2rem auto;
}

.page-header {
  text-align: center;
  margin: 20px !important;
}




.center {
  max-width: 80%;
  margin: 1rem auto;
}

textarea {
  min-height: 200px !important;
}
.media {
  border-bottom: 2px solid $light;
}

.home-banner {
  max-width: 100%;
  color: $light;
  .form-control {
    width: 100% !important;
    margin: 0 auto;
    padding: .6rem;
    border-radius: 0;
    padding-left: 1rem;
    height: 70px;
  }
  i {
    padding: 2rem;
    margin-right: 2rem;
  }
}
.edit {
  padding: 1.5rem;
}

.caption {
  height: 5rem;
  padding: 0;
  background-color: $white;
  h3 {
    font-weight: bold;
    text-transform: capitalize;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1.3rem;
  }
  p {
    margin-bottom: .2rem;
  }
}

#overlap-top {
  margin-top: -12rem;
}

.cat_nav {
  background-color: $white;
  border-top: 2px solid $light;
    a{
      text-decoration: none;
      padding: 2rem;
    }
}

/*****************************
		CATEGORIES SHOW
******************************/

.cat-side {
  li {
    list-style: none;
     padding-left: 1.5rem;
    a {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

.col-md-3 {
  img {
    width: 100%;
  }
}


/*****************************
		FOOTER
******************************/

.bottom-section {
  background-color: #303945;
  min-height: 200px;
  padding: 5%;
  color: #8c9098;
	margin-top: 2rem;
  margin-bottom: 0;
  a {
      display: block;
      font-size: 13px;
      color: #FFFFFF;
      font-weight: 500;
  }
  .foot-note {
    margin: 3rem auto;
    text-align: center;
  }
}

.social-links {
  li {
    display: inline-block;
    padding: 1rem;
  }
}

.amount {
  color: $claeusRed;
  font-weight: bold;
  letter-spacing: .6px;
}
/*****************************
		BUTTONS
******************************/

.button-default {
	padding: .7rem;
	border: 1px solid white;
	margin-right: 1rem;
	margin-top: .5rem;
	margin-bottom: .5rem;
	background-color: $claeusRed;
	color: #FFFFFF;
}

.button-cart, .button-other {
	padding: 3px 6px;
	width: 120px;;
}

.button-contact {
	margin-top: .578rem;
	border: 1.5px solid white;
	background-color: #ff4444;
	color: #FFFFFF;
	padding: 1rem;
	width: 245px;
}

.button-other {
	border: 2px solid $claeusRed;
	background-color: #FFFFFF;
	color: $claeusRed;
	padding: 1rem;

}


/*==================================
      MEDIA QUERIES
==================================*/
