@mixin bg_img($url, $size, $position) {
  background-image: url($url);
  background-size: $size;
  background-position: $position;

}

$white: #FFFFFF;
$dark: #7c7c7c;
$light: #f4f4f4;
$highlight: #8bc6db;
$border: #E9E9E9;
$claeusRed: #f61616;
$caption: #e0dede;

.col-md-4 {
  padding: 0;
}

.section {
  padding: 2rem auto !important;
  width: 100%;
  min-height: 400px;
  margin: 2rem auto;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
  .row {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .page-header {
    h3{
      padding-top: 1rem;
    }
  }
  // .col-md-2,
  // .col-md-8 {
  //   padding-right: .1rem !important;
  //   padding-left: .1rem !important;
  // }
  .col-md-2 {
    height: 100%;
    margin-bottom: .5rem;
    img {
      height: 80%;
      width: 100%;
    }
  }
  .col-md-10 {
    padding: 2rem;
  }

}

.section-home {
  padding: 2rem auto !important;
  width: 100%;
  min-height: 400px;
  margin: 0 auto;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
  .row {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}

.section-part {
  border: 1px solid $light;
  width: 100%;
  padding: 1rem;
  background: $white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);

}


.section-header {
  background-color: $light;
  border-bottom: 1px solid $dark;
  padding: .5rem;
  margin-top: .5rem;
  a {
    font-size: 1rem;
  }
}

.overlap {
  .col-md-4 {
    background-color: $white;
  }
}

/*****************************
		PAGES
******************************/

.banner-elements {
  max-width: 80%;
  margin: 2rem auto;
  padding: 5%;
  color: $white;
}

.make-center {
  padding: 2rem;
}
.red-flag {
  color: $white;
  background-color: $claeusRed;
}

#sell-banner {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('virtualstore.jpg')
}

.cat_card {
  @include bg_img("chucks.png", 100%, 100px 100px);
  height: 7rem;
}

.right {
  float: right;
}

.left {
  float: left;
}

#listed {
  li{
    font-size: 1.5rem;
    font-weight: bold;
  }
}

/********************
  SELL PAGE
*********************/

.color {
  background-color: lightblue;
}


/********************
  HOME PAGE
*********************/
.home-cat {
  .col-md-3 {
    margin: .5rem 0;
    padding: .3rem;
    .thumbnail {
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
      .caption {
        border-top: .3px solid $light;
        background-color: $caption;
        h3 {
          padding-top: .5rem;
          margin-top: 0;
          a {
            font-weight: 700;
            font-size: 1.5rem;
          }
        }
        .cat-name {
          text-align: center;
        }
      }
    }

  }

}
