
<br><div class="section-home">
  <div class="container-fluid">
    <p id="notice"><%= notice %></p>

      <h2 class="section-header" style="text-align: center;"><%= @category.name %></h2>


    <hr>
    <%= link_to 'Edit', edit_category_path(@category) %> |
    <%= link_to 'Back', categories_path %>

  </div>
</div>
