<footer>
  <div class="bottom-section clearfix">
    <div class="row">
      <div class="container">
        <div class="col-md-3">
          <p>
            Buy
          </p>
            <a href="#">Registration</a>
            <a href="#">Buying</a>
            <a href="#">Stores</a>
            <a href="#">Guides</a>
        </div>
        <div class="col-md-3">
          <p>
            Sell
          </p>
            <a href="#">Learn to sell</a>
            <a href="#">Start selling</a>
            <a href="#">Sellers</a>
            <a href="#">Affiliates</a>
        </div>
        <div class="col-md-3">
          <p>
            Know us
          </p>
            <a href="#">About Us</a>
            <a href="#">Policies</a>
            <a href="#">News</a>
            <a href="#">Blog</a>
            <a href="#">Careers</a>
        </div>
        <div class="col-md-3">
          <p>
            Stay connected
          </p>
          <ul class="social-links">
            <li><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></li>
            <li><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></li>
            <li><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></li>
            <li><i class="fa fa-pinterest-p fa-2x" aria-hidden="true"></i></li>
          </ul>
        </div>
        <div class="col-md-12">
          <div class="foot-note">
            <p>&copy; 2016 claeus, Inc.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
